.theme-container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-name {
    text-align: center;
}

details {
    /*border: 1px solid #000; /* Цвет рамки черный, замените #000 на нужный вам цвет */
    /*padding: 5px; /* Добавляем небольшой отступ вокруг содержимого */
}


/* Класс который позволит переносу строки указанному в БД отображаться в ответе поиска правильно, с переносами! */
.pre-wrap {
        white-space: pre-wrap;
}

/* Чередуем цвета в выдаче  */
.card:nth-child(odd) {
    background-color: #f0f0f0; /* Белый цвет для нечетных элементов */
}
.card:nth-child(even) {
    background-color: #e4e3e3; /* Серый цвет для четных элементов #f0f0f0*/
}
