.theme-container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-name {
    text-align: center;
}

details {
    /*border: 1px solid #000; /* Цвет рамки черный, замените #000 на нужный вам цвет */
    /*padding: 5px; /* Добавляем небольшой отступ вокруг содержимого */
}


/* Класс который позволит переносу строки указанному в БД отображаться в ответе поиска правильно, с переносами! */
.pre-wrap {
        white-space: pre-wrap; 
}
