{% extends "base.html" %}

{% block content %}

    <h2>Модификация темы по ID</h2>
    <form action="/update_theme_by_id" method="post">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="theme_id" name="theme_id" placeholder="ID темы" autocomplete="off">
            <label for="theme_id">ID темы:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="new_theme_name" name="new_theme_name" placeholder="Новое имя темы" autocomplete="off">
            <label for="new_theme_name">Новое имя темы:</label>
        </div>
        <button type="submit" class="btn btn-primary">Модифицировать по ID</button>
    </form>

    <h2>Модификация темы по имени</h2>
    <form action="/update_theme_by_name" method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="theme_name" name="theme_name" placeholder="Имя темы" autocomplete="off">
            <label for="theme_name">Имя темы:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="new_theme_name" name="new_theme_name" placeholder="Новое имя темы" autocomplete="off">
            <label for="new_theme_name">Новое имя темы:</label>
        </div>
        <button type="submit" class="btn btn-primary">Модифицировать по имени</button>
    </form>

{% endblock %}